.frame {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.frame .slide {
    display: flex;
    flex-direction: column;
    width: 1024px;
    height: 2468px;
    align-items: center;
    gap: 48px;
    padding: 80px 0px 0px;
    position: relative;
    background-color: #ffffff;
    overflow: hidden;
}

.frame .ellipse {
    width: 669px;
    height: 669px;
    top: 647px;
    left: -352px;
    border-radius: 334.32px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(254, 0, 55.72, 0.5) 0%, rgba(255, 90.66, 126.72, 0.03) 100%);
    position: absolute;
    filter: blur(127.6px);
}

.frame .div {
    width: 497px;
    height: 329px;
    top: 290px;
    left: 479px;
    border-radius: 248.34px/164.45px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 102, 135.57, 0.2) 0%, rgba(254, 0, 55.72, 0.2) 100%);
    position: absolute;
    filter: blur(127.6px);
}

.frame .div-2 {
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    align-items: center;
    gap: 32px 32px;
    padding: 0px 0px 0px 100px;
    position: relative;
    align-self: stretch;
    width: 100%;
}

.frame .hero-text {
    display: flex;
    flex-direction: column;
    width: 381.21px;
    align-items: flex-start;
    gap: 16px;
    position: relative;
}

.frame .text-wrapper {
    position: relative;
    width: 366.99px;
    height: 75.28px;
    margin-top: -0.32px;
    font-family: "Poppins-ExtraLight", Helvetica;
    font-weight: 200;
    color: #000000;
    font-size: 38.3px;
    letter-spacing: 0;
    line-height: 38.3px;
}

.frame .p {
    position: relative;
    align-self: stretch;
    height: 41.15px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 15.3px;
    letter-spacing: 0.08px;
    line-height: 16.8px;
}

.frame .CTA-buttons {
    position: relative;
    width: 211.08px;
    height: 31.9px;
}

.frame .rectangle {
    position: absolute;
    width: 104px;
    height: 32px;
    top: 0;
    left: 107px;
    background-color: #e11d48;
    border-radius: 15.95px;
}

.frame .rectangle-2 {
    position: absolute;
    width: 95px;
    height: 32px;
    top: 0;
    left: 0;
    border-radius: 15.95px;
    border: 0.32px solid;
    border-color: #000000;
}

.frame .hero-wrapper {
    position: relative;
    width: 284px;
    height: 489px;
}

.frame .hero {
    position: absolute;
    width: 720px;
    height: 620px;
    top: -53px;
    left: -209px;
}

.frame .frame-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding: 0px 75px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.frame .div-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 32px 80px 64px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    background-color: #ffffff33;
    border-radius: 15.95px;
    box-shadow: 0px 11.17px 31.9px #0000000d;
    backdrop-filter: blur(22.33px) brightness(100%);
    -webkit-backdrop-filter: blur(22.33px) brightness(100%);
}

.frame .SUB-wrapper {
    display: flex;
    flex-direction: column;
    width: 322.51px;
    align-items: center;
    gap: 19.14px;
    padding: 4.79px 0px;
    position: relative;
    flex: 0 0 auto;
}

.frame .SUB {
    position: relative;
    width: 326.51px;
    height: 28.86px;
    margin-right: -4px;
}

.frame .overlap-group {
    position: relative;
    width: 323px;
    height: 29px;
}

.frame .text-wrapper-2 {
    position: absolute;
    width: 323px;
    top: 0;
    left: 0;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 15px;
    text-align: center;
    letter-spacing: 0;
    line-height: 18px;
}

.frame .text-wrapper-3 {
    position: absolute;
    width: 323px;
    top: 18px;
    left: 0;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 9.6px;
    text-align: center;
    letter-spacing: 0;
    line-height: 11.5px;
}

.frame .why-spend-valuable {
    position: relative;
    align-self: stretch;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 400;
    color: transparent;
    font-size: 30.6px;
    text-align: center;
    letter-spacing: 0.15px;
    line-height: 33.7px;
}

.frame .span {
    font-weight: 600;
    color: #000000;
    letter-spacing: 0.05px;
}

.frame .text-wrapper-4 {
    font-weight: 600;
    color: #2d050e;
    letter-spacing: 0.05px;
}

.frame .text-wrapper-5 {
    font-family: "Merriweather-Regular", Helvetica;
    color: #e11d48;
    letter-spacing: 0.05px;
}

.frame .text-wrapper-6 {
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 22px;
    letter-spacing: 0.02px;
    line-height: 24.2px;
}

.frame .text-wrapper-7 {
    font-family: "Poppins-Regular", Helvetica;
    color: #000000;
    font-size: 20.4px;
    letter-spacing: 0.02px;
    line-height: 22.5px;
}

.frame .div-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 15px 0px 0px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.frame .div-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15.95px;
    padding: 0px 31.9px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.frame .div-wrapper-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 23.93px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.frame .text-wrapper-8 {
    position: relative;
    align-self: stretch;
    margin-top: -0.32px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 38.3px;
    text-align: center;
    letter-spacing: 0;
    line-height: 38.3px;
}

.frame .div-5 {
    display: flex;
    align-items: center;
    gap: 31.9px;
    padding: 0px 31.9px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.frame .rectangle-3 {
    position: relative;
    flex: 1;
    flex-grow: 1;
    height: 1px;
    background-color: #e11d48;
    border-radius: 15.95px;
}

.frame .frame-wrapper-2 {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 6px 0px;
    position: relative;
    flex: 0 0 auto;
    border-radius: 32px;
    border: 0.32px solid;
    border-color: #e11d48;
}

.frame .div-6 {
    display: inline-flex;
    height: 44.02px;
    align-items: center;
    gap: 10px;
    padding: 0px 15px;
    position: relative;
}

.frame .div-wrapper-3 {
    display: inline-flex;
    height: 30.31px;
    align-items: center;
    justify-content: center;
    gap: 3.19px;
    padding: 6.7px 12.44px;
    position: relative;
    flex: 0 0 auto;
    background-color: #e11d48;
    border-radius: 15.95px;
}

.frame .text-wrapper-9 {
    position: relative;
    width: fit-content;
    margin-top: -0.37px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 11.2px;
    letter-spacing: 0;
    line-height: 16.7px;
    white-space: nowrap;
}

.frame .div-wrapper-4 {
    display: inline-flex;
    height: 30.31px;
    align-items: center;
    justify-content: center;
    gap: 3.19px;
    padding: 6.7px 14.67px;
    position: relative;
    flex: 0 0 auto;
    background-color: #e6e6e6;
    border-radius: 15.95px;
    border: 0.32px solid;
    border-color: #000000;
}

.frame .text-wrapper-10 {
    position: relative;
    width: fit-content;
    margin-top: -0.37px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 11.2px;
    letter-spacing: 0;
    line-height: 16.7px;
    white-space: nowrap;
}

.frame .frame-wrapper-3 {
    display: flex;
    flex-wrap: wrap;
    width: 1024px;
    align-items: center;
    gap: 5px 5px;
    padding: 0px 64px;
    position: relative;
    flex: 0 0 auto;
}

.frame .div-7 {
    display: flex;
    height: 327.3px;
    align-items: center;
    justify-content: center;
    gap: 64px;
    position: relative;
    flex: 1;
    flex-grow: 1;
}

.frame .div-8 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;
    padding: 30px 0px;
    position: relative;
    flex: 0 0 auto;
}

.frame .EM-text {
    position: relative;
    width: 292.7px;
    height: 90.45px;
    margin-right: -4px;
}

.frame .text-wrapper-11 {
    position: absolute;
    height: 24px;
    top: 0;
    left: 0;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20.4px;
    letter-spacing: 0;
    line-height: 24.5px;
    white-space: nowrap;
}

.frame .gain-an-accurate {
    position: absolute;
    width: 289px;
    top: 34px;
    left: 0;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 11.5px;
    letter-spacing: 0;
    line-height: 13.8px;
}

.frame .learn-more {
    position: relative;
    width: 103.44px;
    height: 30.31px;
}

.frame .overlap-group-2 {
    position: relative;
    width: 101px;
    height: 30px;
    border-radius: 15.95px;
    border: 0.32px solid;
    border-color: #000000;
}

.frame .text-wrapper-12 {
    position: absolute;
    height: 17px;
    top: 6px;
    left: 14px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 11.2px;
    letter-spacing: 0;
    line-height: 16.7px;
    white-space: nowrap;
}

.frame .overlap-wrapper {
    position: relative;
    align-self: stretch;
    width: 408.96px;
}

.frame .overlap {
    position: relative;
    width: 724px;
    height: 520px;
    top: -149px;
    left: -183px;
}

.frame .img {
    position: absolute;
    width: 528px;
    height: 415px;
    top: 106px;
    left: 196px;
}

.frame .group {
    position: absolute;
    width: 460px;
    height: 459px;
    top: 0;
    left: 0;
}

.frame .mask-group {
    position: absolute;
    width: 524px;
    height: 459px;
    top: 0;
    left: 0;
}

.frame .div-9 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 4px 0px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.frame .text-wrapper-13 {
    position: relative;
    align-self: stretch;
    margin-top: -0.32px;
    font-family: "Poppins-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 30.6px;
    text-align: center;
    letter-spacing: 0;
    line-height: 30.6px;
}

.frame .div-10 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.frame .img-2 {
    position: relative;
    width: 384.4px;
    height: 96.02px;
}

.frame .rectangle-4 {
    position: absolute;
    width: 447px;
    height: 160px;
    top: -32px;
    left: 289px;
    background-color: #e6e6e6;
    filter: blur(95.7px);
}

.frame .CTA-block-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 0px 48px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.frame .CTA-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 48px 144px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    border: 0.32px solid;
    border-color: #000000;
}

.frame .div-11 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 38.28px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.frame .CTA-BT-group {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 16px 16px;
    position: relative;
    flex: 0 0 auto;
}

.frame .request-a-demo {
    display: inline-flex;
    height: 30.31px;
    align-items: center;
    justify-content: center;
    gap: 3.19px;
    padding: 6.7px 14.04px;
    position: relative;
    flex: 0 0 auto;
    background-color: #e11d48;
    border-radius: 15.95px;
}

.frame .take-a-tour {
    display: inline-flex;
    height: 30.31px;
    align-items: center;
    justify-content: center;
    gap: 3.19px;
    padding: 6.7px 13.08px;
    position: relative;
    flex: 0 0 auto;
    background-color: #ffffff;
    border-radius: 15.95px;
    border: 0.32px solid;
    border-color: #000000;
}

.frame .div-12 {
    position: relative;
    flex: 1;
    align-self: stretch;
    width: 100%;
    flex-grow: 1;
    background-color: #2d050e;
}

.frame .frame-wrapper-4 {
    position: absolute;
    width: 1024px;
    height: 48px;
    top: 0;
    left: 0;
    background-color: #e11d48;
}

.frame .CTA-BT-group-wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 3.19px;
    padding: 0px 19.14px;
    position: relative;
    top: 9px;
    left: 770px;
}

.frame .CTA-BT-group-2 {
    display: flex;
    flex-wrap: wrap;
    width: 215.65px;
    height: 30.31px;
    align-items: center;
    justify-content: flex-end;
    gap: 7.98px 7.98px;
    position: relative;
}

.frame .request-a-demo-2 {
    display: inline-flex;
    height: 23.61px;
    align-items: center;
    justify-content: center;
    gap: 3.19px;
    padding: 6.7px 14.04px;
    position: relative;
    flex: 0 0 auto;
    border-radius: 15.95px;
    border: 0.32px solid;
    border-color: #ffffff;
}

.frame .text-wrapper-14 {
    position: relative;
    width: fit-content;
    margin-top: -0.71px;
    margin-bottom: -0.08px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 7.7px;
    letter-spacing: 0;
    line-height: 11.5px;
    white-space: nowrap;
}

.frame .take-a-tour-2 {
    display: inline-flex;
    height: 23.61px;
    align-items: center;
    justify-content: center;
    gap: 3.19px;
    padding: 6.7px 13.08px;
    position: relative;
    flex: 0 0 auto;
    background-color: #ffffff;
    border-radius: 15.95px;
    border: 0.32px solid;
    border-color: #000000;
}

.frame .text-wrapper-15 {
    position: relative;
    width: fit-content;
    margin-top: -0.71px;
    margin-bottom: -0.08px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 7.7px;
    letter-spacing: 0;
    line-height: 11.5px;
    white-space: nowrap;
}
