:root {
  --serif-serif-big-title-font-family: "Garamond Premier Pro", Helvetica;
  --serif-serif-big-title-font-weight: 500;
  --serif-serif-big-title-font-size: 120px;
  --serif-serif-big-title-letter-spacing: 0px;
  --serif-serif-big-title-line-height: 100%;
  --serif-serif-big-title-font-style: normal;
  --serif-serif-medium-title-font-family: "Garamond Premier Pro", Helvetica;
  --serif-serif-medium-title-font-weight: 500;
  --serif-serif-medium-title-font-size: 87px;
  --serif-serif-medium-title-letter-spacing: 0.435px;
  --serif-serif-medium-title-line-height: 100%;
  --serif-serif-medium-title-font-style: normal;
  --serif-serif-big-caption-font-family: "Garamond Premier Pro", Helvetica;
  --serif-serif-big-caption-font-weight: 500;
  --serif-serif-big-caption-font-size: 69px;
  --serif-serif-big-caption-letter-spacing: 0.345px;
  --serif-serif-big-caption-line-height: 110.00000238418579%;
  --serif-serif-big-caption-font-style: normal;
  --numbers-sans-big-numbers-font-family: "Josefin Sans", Helvetica;
  --numbers-sans-big-numbers-font-weight: 300;
  --numbers-sans-big-numbers-font-size: 155px;
  --numbers-sans-big-numbers-letter-spacing: 0px;
  --numbers-sans-big-numbers-line-height: 100%;
  --numbers-sans-big-numbers-font-style: normal;
  --numbers-sans-medium-numbers-font-family: "Futura PT", Helvetica;
  --numbers-sans-medium-numbers-font-weight: 400;
  --numbers-sans-medium-numbers-font-size: 95px;
  --numbers-sans-medium-numbers-letter-spacing: 0px;
  --numbers-sans-medium-numbers-line-height: 100%;
  --numbers-sans-medium-numbers-font-style: normal;
  --body-sans-body-font-family: "Futura PT", Helvetica;
  --body-sans-body-font-weight: 500;
  --body-sans-body-font-size: 47px;
  --body-sans-body-letter-spacing: 0px;
  --body-sans-body-line-height: 120.00000476837158%;
  --body-sans-body-font-style: normal;
  --body-sans-body-125-font-family: "Futura PT", Helvetica;
  --body-sans-body-125-font-weight: 500;
  --body-sans-body-125-font-size: 47px;
  --body-sans-body-125-letter-spacing: 0px;
  --body-sans-body-125-line-height: 125%;
  --body-sans-body-125-font-style: normal;
  --action-navbar-medium-font-family: "Futura PT", Helvetica;
  --action-navbar-medium-font-weight: 400;
  --action-navbar-medium-font-size: 36px;
  --action-navbar-medium-letter-spacing: 0px;
  --action-navbar-medium-line-height: 150%;
  --action-navbar-medium-font-style: normal;
  --action-action-light-font-family: "Futura PT", Helvetica;
  --action-action-light-font-weight: 500;
  --action-action-light-font-size: 35px;
  --action-action-light-letter-spacing: 0px;
  --action-action-light-line-height: 150%;
  --action-action-light-font-style: normal;
  --action-legal-light-font-family: "Futura PT", Helvetica;
  --action-legal-light-font-weight: 500;
  --action-legal-light-font-size: 35px;
  --action-legal-light-letter-spacing: 0px;
  --action-legal-light-line-height: 120.00000476837158%;
  --action-legal-light-font-style: normal;
}
